@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&family=Roboto:wght@100;300;400;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;cursor: none;
}

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
    .header__logo--img{
        width: 225px;
    }
    .header__phrase h1{
        text-transform: uppercase;
        text-decoration: line-through;
        letter-spacing: 1px;
        font-size:  large;
        margin-bottom: 30px;
    }
    .header__nav{
        *background-color: red;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    align-items: center;
    justify-content: space-around;
    }
        .nav__link{
            color: #000;
            text-decoration: none;
            text-transform: capitalize;
            padding: 5px 30px;
            border-bottom:solid rgb(0, 0, 0) 3px ;
            *box-shadow:  5px 0px 0px 0px black;
        }
    .cursor{
        width: 2em  ;
        height: 2em;
        border: 2px  solid #000;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        pointer-events: none;
        transition: all 0.4s ease;
        transition-property: background,transform,color,border;
        transform-origin: 100% 100%;
        z-index: -1;
      
    }
    .link-clicleable{
        transform: scale(2);
        background: #000;
    }
    a:hover{
        transition: all 0.5s ease;
        transition-property: color,border;
    }
    .hoverlink{
        color:white;
        border-bottom: solid rgb(255, 255, 255) 3px ;
        
    }

